html, body {
height: 100%;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.parallax-container {
  overflow: hidden;
  height:100%;
  width:100%;
  background: url(../img/introbg.jpg);
  background-color: #10150f;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 6%;
}

.scene {
  padding: 0;
  margin: 0;
}

.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.layer {
  display: block;
  position: absolute;
  top:0;
  left:0;
}

.layer:nth-child(1) {
  position: relative;
top:-70px;
left:-60px;
}

.layer:nth-child(2) {
left:50%;
width: 75%;
margin:0 auto;
}
  .layer:nth-child(2) img {
    position: relative; 
    left: -50%;
}

.layer:nth-child(3) {
   top:60px;
  left:30px;
  width:100%;
}
